:root {
    --storm: #112432;
    --jean: #5e7783;
    --royalty: #4d1635;
    --lavender: #919199;
    --soft-grey: #d0d1d3;
    font-family: 'Source Code Pro', monospace;
}
:root,
body,
html {
    background: var(--soft-grey);
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.library-container,
.library-header {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.book-container,
.library-header {
    width: 95vw;
    height: 50px;
    place-items: center;
    place-content: center;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 1fr;
    grid-template-columns: minmax(100px, 12fr) minmax(100px, 8fr) minmax(100px, 3fr) 75px;
}
.library-header {
    text-align: center;
}
.library-header>text {
    font-size: 24px;
    font-weight: 700;
}
.book-container>text {
    font-size: 20px;
    font-weight: 400;
}
.read-button {
min-height: 20px;
aspect-ratio: 1;
border-radius: 50%;
border: 2px solid red;
}
.read-on {
    background-color: blue;
}