:root {
    --storm: #112432;
    --jean: #5e7783;
    --royalty: #4d1635;
    --lavender: #919199;
    --soft-grey: #d0d1d3;
    font-family: 'Source Code Pro', monospace;
}
:root,
body,
html {
    background: var(--storm);
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    color: var(--storm);
}

.library-container {
    width: 90vw;
    background-color: var(--royalty);
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 30px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.library-header,
.book-info {
    height: 50px;
    background-color: var(--lavender);
    place-items: center;
    place-content: center;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 1fr;
    grid-template-columns: minmax(100px, 10fr) minmax(100px, 7fr) minmax(100px, 3fr) 100px;
}
.library-header {
    border-bottom: 2px solid rgb(50,50,50,0.6);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-size: 20px;
}
.books-container {
    font-size: 16px;
    margin-bottom: 10px;
}
.book-info:last-of-type {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.book-info:nth-child(even) {
    background-color: var(--lavender);
}
.book-info:nth-child(odd) {
    background-color: var(--jean);
}
.book-info {
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.book-info:hover {
    cursor: grab;
    transition: 0.8s;
    transform: translateX(12px);
}
.read-button {
min-height: 20px;
aspect-ratio: 1 / 1;
border-radius: 50%;
border: 2px solid var(--storm);
padding:1px;
}
.read-on {
    background-color: var(--storm);
}
.add-button {
    height: 40px;
    padding-inline: 10px;
    background: transparent;
    display: flex;
    align-items: center;
    border-radius: 3px;
    border: 1px solid var(--lavender);
    color: var(--soft-grey);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.add-button:hover {
    border: 1px solid black;
    scale: 1.1;
    transition: 0.5s ease;
    cursor: grab;
}
.add-button>svg {
    height: 90%;
    width: auto;
    padding-right: 10px;
    fill: var(--soft-grey);
}
.entry-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgb(0,0,0,0.4);
    animation-name: modalFade;
    animation-duration: 0.4s;
}
.entry-modal-content {
    position: fixed;
    bottom: 0;
    background-color: var(--lavender);
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
    animation-name: modalSlide;
    animation-duration: 0.4s;
}
.book-input {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(1fr 4x);
    grid-gap: 10px;
}
.book-input>.input-container {
    display: flex;
    flex-direction: column;
}
#title,
#author,
#pages,
#statusa {
    color: var(--royalty);
    font-style: italic;
    font-size: 14px;
    letter-spacing: 0.2em;
    display: flex;
}
#title {
    grid-row: 1 / 2;
    width: clamp(50px, 40vw, 400px);
}
#author {
    grid-row: 2 / 3;
    width: clamp(150px, 30vw, 250px);
}
#pages {
    grid-row: 3 / 4;
    width: clamp(75px,10vw,100px);
}
.book-input>#status {
    grid-row: 4 / 5;
    width: clamp(20px,5vw,30px);
}
.close {
    color: #fff;
    position: absolute;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close-focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.closeEntry {
    right: 50px;
    bottom: 0px;
}
.book-modal {
    display: none;
    position: fixed;
    z-index: 1;
    margin: 15% auto;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgb(0,0,0,0.4);
    animation-name: modalFade;
    animation-duration: 0.4s;
}
.book-modal-content {
    position: fixed;
    bottom: 0;
    background-color: var(--lavender);
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
    animation-name: modalSlide;
    animation-duration: 0.4s;
}
@keyframes modalSlide {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0px; opacity: 1}
}
@keyframes modalFade {
    from {opacity: 0}
    to {opacity: 1}
}